name: dbt run on push or pull request

on: [push, pull_request]

env:
  DBT_PROFILES_DIR: .
  DBT_BIGQUERY_TOKEN: ${{ secrets.DBT_BIGQUERY_TOKEN }}
  DBT_GOOGLE_PROJECT_DEV: ${{ secrets.DBT_GOOGLE_PROJECT_DEV }}
  DBT_GOOGLE_BIGQUERY_DATASET_DEV: ${{ secrets.DBT_GOOGLE_BIGQUERY_DATASET_DEV }}
  TARGET_ENV: ${{ GITHUB_REF##*/ }}

jobs: 
  dbt_run: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: deps
        uses: tommybebe/dbt-action@v1.0.1
        with:
          dbt_command: "dbt deps"
      - name: run
        uses: tommybebe/dbt-action@v1.0.1
        with:
          dbt_command: "dbt run"
