name: dbt run on push or pull request

on: [push, pull_request]

env:
  DBT_BIGQUERY_TOKEN: ${{ secrets.DBT_BIGQUERY_TOKEN }}

jobs: 
  dbt_run: 
    runs-on: ubuntu-latest
    steps:
      - name: deps
        uses: tommybebe/dbt-action@v1.0.1
        with:
          dbt_command: "dbt deps"
      - name: run
        uses: tommybebe/dbt-action@v1.0.1
        with:
          dbt_command: "dbt run"
