name: dbt run on push or pull request

on: 
  push: 
    branches: 
      - main
      - dev

env:
  DBT_PROFILES_DIR: .
  DBT_BIGQUERY_TOKEN: ${{ secrets.DBT_BIGQUERY_TOKEN }}
  DBT_GOOGLE_PROJECT_DEV: ${{ secrets.DBT_GOOGLE_PROJECT_DEV }}
  DBT_GOOGLE_BIGQUERY_DATASET_DEV: ${{ secrets.DBT_GOOGLE_BIGQUERY_DATASET_DEV }}

jobs: 
  dbt_run: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get branch name
        shell: bash
        run: echo "TARGET_ENV=$(echo ${GITHUB_REF#refs/heads/} | tr / -)"
      - name: deps
        uses: tommybebe/dbt-action@v1.0.1
        with:
          dbt_command: "dbt deps"
          env:
            TARGET_ENV: ${GITHUB_REF#refs/heads/}
      - name: run
        uses: tommybebe/dbt-action@v1.0.1
        with:
          dbt_command: "dbt run"
          env:
            TARGET_ENV: ${{ env.TARGET_ENV }}
